
html, body {
  height: 100%;
}

body {
  font-family:  "Helvetica Neue",  Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color:#252525;
  margin-left: 1em;
  margin-right: 1em;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

header {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.races-navigation {
  margin-top: 3em;
}

a {
  color:#252525;
}

a:hover {
  color:#969696;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3px;
  color:#fff;
  background-color:#252525;
  display:inline-block;
  text-align: center;
  padding: 5px;
  }

h2 {
  font-size: 3em;
  font-weight: bold;
  margin-top: 10px;
}

h3 {
  font-size: 2.2em;
  font-weight: lighter;
  margin-top: 10px;
}

h5 {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5em;
}


hr {
  border-top: 2px solid #252525;
  margin-top: 2px;
  margin-bottom: 2px;
}

.logo img {
  width:100%;
  height: auto;
  margin: auto;
}

.page-subheader {
  display:none;
}

 .nav1 {
 font-size: 1.5em;
}

.nav2-icon a:active {
  color: black;
}

.nav2 {
  margin-bottom: 3em;
}

.nav2-icon {
  text-align: center;
}

.nav2-text {
  font-size: 1.7em;
  color: #AAB3B6;
}

.nav2-svg.active {
  fill:#252525;
}

.type {
  text-align: center;
}

.nav2-text.active {
  color: #252525;
}

.svg-icon {
  width: 30px;
}

.menu-img {
  margin-top: 1em;
  margin-bottom: 2em;
}

.nav2,
.viz {
padding-left: 15px;
padding-right: 15px;
}

/*dropdown menu — Gorbachev grad project*/

nav {
  overflow: auto;
  text-decoration: none;
  font-weight: 900;
  color:#969696;
  text-transform: uppercase;
  display: inline;
  font-size: 1.7em;
}

nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}

nav ul li {
	display:inline-block;
	}

nav a {
	display:block;
	padding:0 10px;
	color: black;
	line-height: 40px;
	text-decoration:none;
}

nav a:hover {
  color:#969696;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 0px;
}

nav ul li:hover > ul {
	display:inherit;
  background-color: #f3efe7;
}

nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
}

.menu-dropdown {
  height: 60px;
}


/*styles candidate headshots in individual candidate profiles and individual issues page*/
.headshot {
  float: left;
  width: 30%;
  max-width: 100%;
  max-height: 90vh;
  margin: 2em;
}

.issue-title {
text-align: center;
}

p {
  font-size: 2em;
}

.legend {
  font-size: 1.7em;
  padding-bottom: 0.5em;
}

/* =========== FOOTER ========== */


footer {
  background: #252525;
  color: #fff;
  margin-top: 10em;
}

.fa {
  color: #d9d9d9;
  margin-top: 0.5em;
  margin-right: 0.1em;
}

.contact-info,
.social-icons {
  margin-left: 2em;
}

a.footer-link {
  color: white;
}

.contacts {
  font-size: 1.7em;
  margin-bottom: 0.5em;
}

@media (min-width: 992px) {
.container {padding-left: 10%; padding-right: 10%;}
header {margin-top: 25px; margin-bottom:25px;}
h1 {font-size: 3em;}
h5 {font-size: 3em;}
hr {  margin-top: 10px; margin-bottom: 10px;}
.nav1 {margin-top: 1em; font-size: 2em;}
.logo img {width:100%; height:auto; margin-top: 2em;}
.svg-icon {width:100%;}
.nav2 {margin-bottom: 7em;}
.nav2-text {font-size: 2.3em;}
.page-subheader {display: inline-block;}
.contacts {font-size: 2em;}
.fa {font-size: 2em;  margin-right: 1.7em;}
}
