
html, body {
  height: 100%;
}

body {
  font-family:  "Helvetica Neue",  Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color:#252525;
}

.container {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

header {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.races-navigation {
  margin-top: 10em;
}

a {
  color:#252525;
}

a:hover {
  color:#969696;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3px;
  color:#fff;
  background-color:#252525;
  display:inline-block;
  text-align: center;
  padding: 5px;

  }

h2 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
  font-size: 2.2em;
  font-weight: lighter;
  margin-top: 10px;
}


ul {
  padding-left: 0;
}


hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 2px solid #252525;
}

.logo img {
  width:100%;
  height: auto;
  margin: auto;
}

.nav1 {
  overflow: auto;
  text-decoration: none;
  font-weight: 900;
  color:#969696;
  text-transform: uppercase;
  font-size: 1.7em;
}

.page-subheader {
  display:none;
}

ul {
  text-align: center;
}

li {
  text-align: center;
  display: inline;
  margin-right: 3em;
  text-decoration: none;
}

.nav2-icon a:active {
  color: black;
}

.nav2 {
  margin-bottom: 3em;
}

.nav2-icon {
  text-align: center;
}

.nav2-text {
  font-size: 1.7em;
  color: #AAB3B6;
}

.nav2-svg.active {
  fill:#252525;
}

.type {
  text-align: center;
}

.nav2-text.active {
  color: #252525;
}

.svg-icon {
  width: 30px;
}

.menu-img {
  margin-top: 1em;
  margin-bottom: 2em;
}

.cand-portrait {
  display: block;
  float: left;
  width: auto;
  max-width: 100%;
  max-height: 90vh;
  margin: 4em;
}

p {
  font-size: 3em;
}


/* =========== FOOTER ========== */


footer {
  background: #252525;
  color: #fff;
  margin-top: 10em;
}

.fa {
  color: #d9d9d9;
  margin-top: 0.5em;
  margin-right: 0.1em;
}

.contact-info,
.social-icons {
  margin-left: 2em;
}

a.footer-link {
  color: white;
}

.contacts {
  font-size: 1.7em;
  margin-bottom: 0.5em;
}


@media (min-width: 992px) {
.container {padding-left: 10%; padding-right: 10%;}
header {margin-top: 25px; margin-bottom:25px;}
h1 {font-size: 3em;}
.nav1 {margin-top: 1em; font-size: 2em;}
.logo img {width:100%; height:auto;}
.svg-icon {width:100%;}
.nav2 {margin-bottom: 7em;}
.nav2-text {font-size: 2.3em;}
.page-subheader {display: inline-block;}
.contacts {font-size: 2em;}
.fa {font-size: 2em;  margin-right: 1.7em;}
}
