div.tooltip { 
    position: absolute;     
    text-align: center;     
    line-height: 2;                  
    padding: 10px;       
    font: 12px sans-serif;    
    background:#eeeeee; 
    border: 0px;    
    border-radius: 0px;     
    z-index: 1000;    
}

.node {
  border: solid 1px white;
  font: 12px sans-serif;
  line-height: 14px;
  font-weight: bold;
  overflow: hidden;
  position: absolute;
  text-indent: 3px;
  color: white;
  box-sizing:content-box;

}